
<!--include header-->
<%-include('include/_header')%>
<!--/include header-->
    

<h1>Dashboard</h1>
<h1>Nice job 
    <% if (locals.username) { %>
        <h2><%=locals.username%></h2>
    <% } else { %>
        <h2>[Username]</h2>
    <% } %>
<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->