<!--include footer-->
<%-include('include/_header')%>
<!--/include footer-->

<header>
    <h1> Welcome <%= username %></h1>
</header>

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->