
<!--include header-->
<%-include('include/_header')%>
<!--/include header-->
    

<h1>Dashboard</h1>
<h1>You got the flag!</h1>

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->